@model AppoinmentManagment.BusinessLayer.ListAppoinmentBO;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Patient Dashboard</h1>
<hr />
<div class="row col-12">
    <div class="col-sm-3 col-3">
        <!-- small card -->
        <div class="small-box bg-success">
            <div class="inner">
                <p>Take Appoinment</p>
            </div>
            <div class="icon">
                <i asp-route="GetAllPatient" class="fas fa-user-plus"></i>
            </div>
            <a asp-route="appoinment" class="small-box-footer">
                <i class="fas fa-plus-circle"></i>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="border backgroundWhite col-12">
        <br />
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm text-center">Appoinment Id</th>
                    <th class="th-sm text-center">Doctor Name</th>
                    <th class="th-sm text-center">Appointment Date</th>
                    <th class="th-sm text-center">Appointment Time</th>
                    <th class="th-sm text-center">Appointment Status</th>
                    <th class="th-sm text-center">Action</th>
                </tr>
            </thead>
            <tbody id="tableData">
                @if (Model.AppointmentList.Count == 0)
                {
                    <tr>
                        <td colspan="5" style="text-align:center">No data</td>
                    </tr>
                }
                else
                {
                    @foreach (var appoint in Model.AppointmentList)
                    {
            <tr>
                <td class=" text-center">@appoint.AppointmentId</td>
                <td class=" text-center">@appoint.DoctorName</td>
                <td class=" text-center">@appoint.AppointmentDate</td>
                <td class=" text-center">@appoint.AppointmentTime</td>
                @if (appoint.AppointmentStatus == "Pending")
                {
                    <td class=" text-center text-danger">@appoint.AppointmentStatus</td>
                }
                @if (appoint.AppointmentStatus == "Approved")
                {
                    <td class=" text-center text-success">@appoint.AppointmentStatus</td>
                    @if (@appoint.IsPaid == 0)
                    {
                        <td class=" text-center">
                            <div class="text-center">
                                <a class="btn btn-success text-white edit" style="cursor:pointer; width:60px;" data-toggle="modal" data-target="#EditRecord" data-id="@appoint.AppointmentId">
                                    <i data-toggle="tooltip" data-placement="top" title="Pay Doctor Fees" class="fas fa-money-bill-wave"></i>
                                </a>
                            </div>
                        </td>
                    }
                    @if (@appoint.IsPaid == 1)
                    {
                        @if (@appoint.IsVisited == 0)
                        {
                            <td class=" text-center">
                                <div class="text-center text-success">
                                    Paid
                                </div>
                            </td>
                        }
                        @if (appoint.IsVisited == 1)
                        {
                            @if (appoint.IsPrescribed == 0)
                            {
                                <td class=" text-center">
                                    <div class="text-center">
                                        <a class="btn btn-success text-white edit" style="cursor:pointer; width:60px;" data-toggle="modal" data-target="#EditRecord" data-id="@appoint.AppointmentId">
                                            <i data-toggle="tooltip" data-placement="top" title="Pay Doctor Fees" class="fas fa-money-bill-wave"></i>
                                        </a>
                                    </div>
                                </td>
                            }
                            @if(appoint.IsPrescribed == 1)
                            {
                                <td class=" text-center">
                                    <div class="text-center">
                                        <a class="btn btn-primary text-white" style="cursor:pointer; width:60px;" onclick=Details("/appointment/details/@appoint.AppointmentId") >
                                            <i data-toggle="tooltip" data-placement="top" title="Prescription" class="fas fa-notes-medical"></i>
                                        </a>
                                    </div>
                                </td>
                            }

                        }
                    }
                }

            </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

<partial name="_Payment.cshtml" />

@section Scripts {
    <script src="~/js/payment.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

